{% extends "base_search.html" %}
{% load staticfiles %}
{% load less %}

{% block style %}
{% endblock style %}

{% block champion %}
<section class="champion-content">
	<article id="champion">
		<h1>Maokai</h1>

		<img class="champ-picture" src="{% static 'images/maokai-large.jpg' %}"/>

		<p class="description">The twisting magical energies unleashed by mages during the Rune Wars caused an incredible amount of devastation to the natural world. The League was established to control the use of this magic by confining it to the Fields of Justice. By limiting its use to there, they thought that they could prevent it from doing further harm to the environment. It seemed that they were successful until Maokai came into being. During a League match on The Twisted Treeline, Maokai, an ancient oak that stood above the upper jungle, spontaneously roared to life. Ripped from the natural balance by arcane forces, his sentience was forged in chaos. Before the Adjudicators of the League could step in and suppress him, he slew all six champions participating in the match. The scholars of the Arcanum Majoris took a keen interest in him, as they were eager to discover the secrets of his animation.</p>

		<section class="right">
			<h2>Notify Me</h2>
			<div id="normal-toggle-button">
			    <input type="checkbox" checked="checked">
			</div>
		</section>
	</article>
</section>
{% endblock champion %}
